:root {
  font: 16px / 1 Verdana, Geneva, Tahoma, sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(218, 189, 58, 0.712)
  );
}

@media screen and (max-width: 375px) {
  .spr-logo,
  .dtsp-skyline,
  .results {
    width: 375px;
  }

  .more-button {
    padding: 0.5rem;
    margin: 1rem;
    margin-left: 9.5rem;
    background-color: black;
    border: none;
    width: 5rem;
    font-weight: lighter;
  }

  .more-button a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }

  .more-button a:hover,
  .more-button a:active {
    color: white;
    text-decoration: underline;
  }

  .form-input {
    padding-right: 5rem;
  }
}

@media screen and (min-width: 376px) {
  .dtsp-skyline {
    width: 1600px;
  }

  .more-button {
    padding: 0.5rem;
    margin: 1rem;
    margin-left: 13rem;
    background-color: black;
    border: none;
    width: 5rem;
  }

  .more-button a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }

  .more-button a:hover,
  .more-button a:active {
    color: white;
    text-decoration: underline;
  }
}

/* Add a black background color to the top navigation */
.nav,
.logout {
  position: relative;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a,
.logout {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover,
.nav a:active,
.logout:hover,
.logout:active {
  background-color: white;
  color: black;
}

.logout {
  cursor: pointer;
}

/* Container holding the image and the text */
.text-container {
  position: relative;
  color: white;
}

/* Center text over image */
.text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  text-shadow: 3px 3px black;
  font-style: italic;
  font-size: 2rem;
  text-align: center;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .results {
    flex-grow: 1;
    display: grid;
  }
}

h1,
a,
.spr-logo,
h2,
.dtsp-skyline,
nav,
h4,
.submit-error {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 0.5rem;
}

h5 {
  text-decoration: underline;
}

h4,
.submit-error {
  font-style: italic;
  opacity: 75%;
  font-size: 2rem;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.search-bar {
  text-align: center;
  height: 2rem;
  width: 24rem;
  border-color: rgba(0, 0, 0, 0.616);
  border-width: 1px;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-link {
  padding-bottom: 1rem;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.social-media {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.footer-link a {
  padding-left: 1rem;
}

.social-icon {
  margin-left: 1rem;
}

.social-icon:hover,
.social-icon:active {
  opacity: 55%;
}

.login,
.signup {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  padding: 5rem;
}

.admin-buttons input,
.login input,
.add-new input,
.signup input {
  padding: 0.5rem;
  background-color: black;
  color: white;
  font-weight: bold;
  opacity: 75%;
  border: solid;
  border-color: white;
  border-width: 1px;
  font-weight: lighter;
}

.login .input-text,
.signup .input-text {
  max-width: 20rem;
  align-self: center;
}

.results {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-results {
  border-style: solid;
  border-width: 2px;
  opacity: 70%;
  min-width: 40vh;
  border-color: rgba(53, 53, 53, 0.274);
  border-radius: 4px;
}

.status {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.project-status {
  font-size: 25px;
  font-weight: bolder;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1px;
  margin: 3px;
}

h3 {
  margin: 1rem;
  text-decoration: underline;
  font-size: 2rem;
}
dt {
  padding: 1rem;
  font-weight: bold;
}

dd {
  margin: 3px;
  padding-top: 13px;
  font-style: italic;
}

.add-new {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  padding-left: 1rem;
  margin: 1rem;
  border-style: solid;
  border-width: 2px;
  opacity: 70%;
  border-color: rgba(53, 53, 53, 0.274);
  border-radius: 4px;
}

.add-new label {
  padding-left: 10px;
}

.picture {
  padding-left: 1.5rem;
}

.submit {
  padding: 0.5rem;
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  height: 39px;
  width: 10rem;
}
