:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(218, 189, 58, 0.712)
  );
}

@media screen and (max-width: 375px) {
  .spr-logo,
  .dtsp-skyline,
  .results {
    width: 375px;
  }
}

/* Add a black background color to the top navigation */
.nav {
  position: relative;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover,
.nav a:active {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color: rgb(176, 150, 55);
  color: white;
}

/* Container holding the image and the text */
.text-container {
  position: relative;
  color: white;
}

/* Center text over image */
.text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  text-shadow: 3px 3px black;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .results {
    flex-grow: 1;
    display: grid;
  }
}

h1,
a,
.spr-logo {
  display: flex;
  justify-content: center;
}

h2,
.dtsp-skyline,
nav {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 0.5rem;
}

.nav-link {
  padding-left: 1rem;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.search-bar {
  border-radius: 3px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  margin-left: 1rem;
}

.social-icon:hover {
  opacity: 55%;
}

.login {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 1rem;
  padding: 8rem;
}

.results {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projectResults {
  border-style: solid;
  opacity: 70%;
  border-radius: 5px;
  min-width: 40vh;
}

.status {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.project-status {
  font-size: 25px;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

article {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1px;
  margin: 3px;
}

h3 {
  margin: 1rem;
  text-decoration: underline;
  font-size: 2rem;
}

.subject {
  text-decoration: underline;
  font-style: italic;
}

dt {
  padding: 1rem;
  font-weight: bold;
}

dd {
  margin: 3px;
  padding-top: 13px;
}
